@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dongle:wght@700&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Dongle:wght@700&family=Pacifico&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
.header__margin {
  margin-left: 6.25rem;
}

.header__logo {
  height: 2.75rem;
}

.header__menu {
  margin: auto;
}

.header__menu a {
  color: black;
  font-size: 1.25rem;
  font-family: "Cinzel", serif;
  padding: 0.7rem;
}

.header__despl {
  text-align: center;
}

#header {
  width: 100%;
  border-bottom: 1px solid #000;
  position: relative;
  top: 0;
}

.footer {
  position: relative;
  top: 40%;
  text-align: center;
  background-color: #ece6db;
  color: black;
}

.footer .redes {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  text-align: center;
}

.footer .derechos p {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 0px;
}

.footer .redesLogo img {
  width: 3.125rem;
}

.footerUbi {
  position: relative;
  text-align: center;
  color: black;
}

.footerUbi .redes {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  text-align: center;
}

.footerUbi .derechos p {
  font-family: "Kaushan Script", cursive;
  margin-bottom: 0px;
}

.footerUbi .redesLogo img {
  width: 3.125rem;
}

.header__fondo {
  background: rgba(239, 228, 210, 0.2);
}

.header__fondoB {
  background: #fff;
}

.fondoN {
  background-color: #ece6db;
}

/*EXTEND*/
.fondo__full, .fondoI {
  width: 100%;
  height: 100vh;
}

/*MIXIN*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*centro index - EXTEND*/
.caja2 {
  width: 100%;
  height: 120vh;
  background-image: url(../img/pile.jpg);
  background-position: center;
  position: center;
  background-size: cover;
  background-attachment: fixed;
}

.nuevo {
  background-color: #ece6db;
}

.nuevo .casa {
  text-align: center;
  background-color: #e4ca98;
  color: #130e05;
  font-family: "Playfair Display SC", serif;
}

.nuevo .casa2 {
  font-family: "Julius Sans One", sans-serif;
}

.fondoI {
  background-image: url(../img/atardecer.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: center;
  width: 100%;
  height: 120vh;
}

.fondo {
  position: relative;
  top: 15%;
  text-align: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  border-radius: 2.1875rem;
  overflow: hidden;
}

.fondo .div {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.fondo h1 {
  color: #e8cb95;
  font-size: 4.375rem;
  font-family: "DM Serif Display", serif;
}

.scale-up-hor-center {
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.caja {
  position: relative;
  top: 30%;
}

.button {
  font-size: 1rem;
  padding: 1rem 1.875rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
  text-align: center;
  background-color: #ddb944c2;
}

.button a {
  text-decoration: none;
  color: black;
  font-family: "DM Serif Display", serif;
}

.button:hover {
  background-color: #b6a714;
}

/*Seccion index-galeria*/
.nuestraCasa {
  text-align: center;
  background-color: #e4ca98;
  color: #130e05;
  font-family: "Playfair Display SC", serif;
  margin-top: 70px;
}

.grid-item img {
  height: 50vh;
  width: 70%;
  border-radius: 20%;
}

/*galeria*/
.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  gap: 10px;
  font-family: "Playfair Display SC", serif;
  text-align: center;
  color: #000000;
}

/*Seccion nosotros*/
.pnosotros {
  margin: 3rem;
}

.pnosotros .tituloSec {
  font-size: 3.5rem;
  font-family: "Playfair Display SC", serif;
  text-align: center;
  padding-bottom: 3rem;
}

.pnosotros .text {
  font-size: 1.1rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.pnosotros .items {
  font-size: 1.1rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.pnosotros .tituloTer {
  font-size: 1.8rem;
  font-family: "Playfair Display SC", serif;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pnosotros .deseos {
  font-size: 1.5625rem;
  font-family: "Playfair Display SC", serif;
  text-align: center;
  padding-top: 3.25rem;
}

.pnosotros .time {
  font-size: 1.2rem;
  font-family: "DM Serif Display", serif;
  text-align: center;
}

.pnosotros .elba {
  font-size: 2.50rem;
  font-family: "Dancing Script", cursive;
  text-align: end;
  padding-top: 3.25rem;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

.nuestraHistoria {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 5.2rem;
  font-family: "Dongle", sans-serif;
}

/*Seccion info*/
.sierra {
  font-size: 3rem;
  font-family: "Playfair Display SC", serif;
  text-align: center;
}

.info {
  font-size: 1rem;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

.card {
  background-color: #ece6db;
  border: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .imagenCard {
  width: 50%;
  height: 50vh;
}

.lugar {
  font-size: 2.5rem;
  font-family: "DM Serif Display", serif;
}

/*Seccion ubicacion*/
.boxUbicacion {
  text-align: center;
}

.ubicacion h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 3.5rem;
  text-align: center;
  background-color: #ece6db;
  grid-area: ubicacion;
}

.mapa {
  padding: 50px;
}

.footerUbi {
  text-align: center;
  background-color: #ece6db;
}

/*Seccion contacto*/
.bigicon {
  font-size: 35px;
  color: #e4ca98;
}

.btn {
  background-color: #e0b67d;
}

.btn:hover {
  background-color: #9ad887;
}

.text-center {
  padding-top: 30px;
}

.form-group {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formAlt {
  margin-top: 1.875rem;
}

.title {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  color: black;
}

/*recibe*/
.fond {
  text-align: center;
  background-image: url(../img/pileta.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: center;
  width: 100%;
  height: 100vh;
}

.fond h1 {
  color: #050402;
  font-size: 4.375rem;
  font-family: "Playfair Display SC", serif;
  padding-top: 150px;
}

.fond h2 {
  color: #050402;
  font-size: 2.375rem;
  font-family: "Playfair Display SC", serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fond .volver {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 1.875rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
  text-align: center;
  background-color: #ddb944c2;
}

.fond .volver a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display SC", serif;
}

.fond .volver:hover {
  background-color: #b6a714;
}

/*INDEX MEDIA*/
@media only screen and (max-width: 600px) {
  #header .logo {
    height: 30px;
  }
  #header .header__margin {
    margin-left: 0px;
  }
  #header {
    position: relative;
    background-color: #e4ca98;
  }
  .grid {
    height: 120vh;
  }
  .fondo {
    margin-left: 8px;
    margin-right: 8px;
    top: 22%;
  }
  .fondo .caja {
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer {
    top: 50%;
  }
  .fondo h1 {
    font-size: 3.0rem;
  }
  .box2 {
    height: 130vh;
  }
  .galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nuestraCasa {
    margin-top: 20px;
  }
  /*NOSOTROS*/
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros .tituloSec {
    font-size: 2.5rem;
    padding-bottom: 0.1rem;
  }
  .imgnosotros img {
    height: 400px;
    width: 300px;
  }
  .nuestraHistoria {
    margin-bottom: 20px;
  }
  .pnosotros {
    margin: 0px;
  }
  .pnosotros p {
    padding: 20px;
  }
  .pnosotros h4 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  /*INFO*/
  .infoP .lugar {
    font-size: 1.5rem;
    text-align: center;
  }
  .infoP .sierra {
    font-size: 2.5rem;
  }
  .infoP .info {
    font-size: 0.8rem;
  }
  .card .imagenCard {
    width: 100%;
    height: 30vh;
  }
  /*UBICACION*/
  .ubicacion h2 {
    font-size: 50px;
  }
  .mapa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nuestraCasa h1 {
    font-size: 25px;
  }
  .fondoContacto {
    height: 120vh;
  }
  .boxUbicacion {
    margin-top: 10px;
  }
  /*CONTACTO*/
  .formAlt {
    margin-top: 10px;
  }
  .contacto .title {
    font-size: 2rem;
  }
  /*RECIBE*/
  .fond .consulta {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1295px) {
  .nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */