@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*menu*/
.logoMargin {
  margin-left: 6.25rem;
}
.navbar{
  background-color: #efe4d2;
}
.logo {
  height: 3.75rem;
}

.menu {
  margin: auto;
}
.menu a {
  color: black;
  font-size: 1.25rem;
  font-family: "Cinzel", serif;
  padding: 0.7rem;
}
.desplegable {
  text-align: center;
}
/*centro index*/
.grid {
  width: 100%;
  height: 100vh;
  background-image: url(../img/atardecer.jpg);
  background-size: cover;
  background-position: auto;
  background-repeat: repeat;
}
.fondo {
  position: relative;
  top: 15%;
  text-align: center;
  border: 5px dotted #746d00;
  margin-left: 21.875rem;
  margin-right: 21.875rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  border-radius: 2.1875rem;
  overflow: hidden;
  
}
.scale-up-hor-center {animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes scale-up-hor-center{0%{transform:scaleX(.4)}100%{transform:scaleX(1)}}

.fondo div {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}
.fondo h1 {
  color: #050402;
  font-size: 4.375rem;
  font-family: "DM Serif Display", serif;
}

.caja {
  position: relative;
  top: 45%;
}

.button {
  font-size: 1rem;
  padding: 1rem 1.875rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
  text-align: center;
  background-color: #8c7f00;
}

.button a {
  text-decoration: none;
  color: black;
  font-family: "DM Serif Display", serif;
}

.button:hover {
  background-color: #b6a714;
}
/*Footer*/
.footer {
  position: relative;
  top: 40%;
  text-align: center;
}
.footerContacto {
  position: relative;
  top: 10%;
  text-align: center;
}
.redes {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  text-align: center;
}
.derechos p {
  font-family: "Kaushan Script", cursive;
}
.redesLogo img {
  width: 3.125rem;
}

/*Seccion nosotros*/
.nosotros{
 background-color: #ece6db;
}
.nosotros img {
  width: 31.25rem;
  height: auto;
  margin: 1.875rem;
}
.pnosotros {
  text-align: justify;
  margin: 5rem;
}

.tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.nuestraHistoria {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3.125rem;
  font-family: "Kaushan Script", cursive;
}

.pnosotros h4 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5625rem;
  text-align: end;
  padding-top: 6.25rem;
}
/*Seccion galeria*/
.back{
  background-color: #ece6db;
}
.nuestraCasa {
  font-size: 1.875em;
  text-align: center;
  background-color: #e4ca98;
  color: #130e05;
  font-family: "Kaushan Script", cursive;
  margin: 1.875rem;
  grid-area: nuestraCasa
}

/*Seccion ubicacion*/
.boxUbicacion{
  text-align: center;
}
.ubicacion {
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  text-align: center;
  background-color: #e4ca98;
  grid-area: ubicacion
}
.mapa{
  padding: 50px;
}

/*Seccion contacto*/
.header {
  color: #0f0e0b;
  font-size: 3.125rem;
  padding: 20px;
}

.bigicon {
  font-size: 35px;
  color: #e4ca98;
}
.btn{
  background-color: #e0b67d;
}
.btn:hover {
  background-color: #9ad887;
}
.text-center {
  padding-top: 30px;
}
.form-group {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fondoContacto{
  width: 100%;
  height: 100vh;
  background-image: url(../img/atardecer.jpg);
  background-size: cover;
}
/* orden de las paginas html y responsive*/
/* index.html */

/*nosotros*/ 
.gridNosotros {
  display: grid;
  grid-template-columns:40% 50% 50%;
  grid-template-areas: "encabezado encabezado encabezado" "nosotros nosotros nosotros" "footer footer footer";
}

/*galeria*/
.galeria {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  color: #e0b67d;
}
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-area: fotos
}
.grid-item img {
  height: 80%;
  width: 70%;
  border-radius: 20%;
}
/*INDEX MEDIA*/
@media only screen and (max-width: 600px) {
  #header .logo{
    height: 30px;
  }
  #header .logoMargin{
    margin-left: 0px;
  }
  .grid{
    height: 120vh;
  }
  .fondo{
    margin-left: 8px;
    margin-right: 8px;
    top: 22%;
  }
  .fondo .caja{
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer{
    top: 50%;
  }
  .encabezado a {
    font-size: 0.5em;
  }
  .encabezado img{
    height: 30px;
  }
  .fondo h1{
    font-size: 3.0rem;
  }
  .galeria {
    display: flex;
    flex-direction: column;
  }
  .nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imgnosotros img{
    height: 400px;
    width: 300px;
  }
  .nuestraHistoria{
    margin-bottom: 20px;
  }
  .pnosotros {
    margin: 0px;
  }
  .pnosotros p{
    padding: 20px;
  }
  .pnosotros h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .ubicacion h2{
    font-size: 50px;
  }
  .mapa{
    display: flex;
    justify-content: center;
  }
  .nuestraCasa h1 {
    font-size: 25px;
  }
  .fondoContacto{
    height: 120vh;
  }
}
@media only screen and (max-width: 1295px) {
  .nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

