
$font-principal: "DM Serif Display", serif;
$font-secundaria: 'Dongle', sans-serif;

$font-cursiva: 'Dancing Script', cursive;
$font-deco: 'Playfair Display SC', serif;
$font-text: 'Julius Sans One', sans-serif;
$font-footer: "Kaushan Script", cursive;