@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import 'header';
@import 'footer';
@import 'variables';
@import 'mapa';



* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#header{
  width: 100%;
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  z-index: 99999;
}

/*centro index - EXTEND*/ 
.box1{
  width: 100%;
  height: 120vh;
  background-image: url(../img/hogar.jpg);
  background-position: center;
  position: center;
  background-size: cover;
  background-attachment: fixed;
}
.box2{
  width: 100%;
  height: 110vh;
  background-image: url(../img/pile.jpg);
  background-position: center;
  position: center;
  background-size: cover;
  background-attachment: fixed;
}
.fondoI {
  @extend .fondo__full;
    background: {
      image: url(../img/atardecer.jpg);
      position: center;
      size: cover;
      attachment: fixed;
    }
    position: center;
    width: 100%;
    height: 100vh;
    
  }
  .fondo {
    position: relative;
    top: 15%;
    text-align: center;
    border: 5px dotted #e8cb95;
    margin: {
      left: 21.875rem;
      right: 21.875rem;
    }
    padding: {
      top: 6.25rem;
      bottom: 6.25rem;
    }
    border-radius: 2.1875rem;
    overflow: hidden;
    .div {
        text-align: center;
        margin: {
          left: 30%;
          right: 30%;
        }
      }
    h1 {
        color: #e8cb95;
        font: {
          size: 4.375rem;
          family: $font-principal
        }
      }
    
  }
  .scale-up-hor-center {animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both}
  
  @keyframes scale-up-hor-center{0%{transform:scaleX(.4)}100%{transform:scaleX(1)}}
  

  .caja {
    position: relative;
    top: 30%;
  }
  
  .button {
    @include button();
    a {
        text-decoration: none;
        color: black;
        font-family: $font-principal
      }
      &:hover {
        background-color: #b6a714;
      }
  }

 

  /*Seccion nosotros*/
    
   .nosotros img {
     width: 31.25rem;
     height: auto;
     margin: 1.875rem;
   }
   .pnosotros {
     text-align: justify;
     margin: 5rem;
    h4 {
      font: {
        family: $font-secundaria;
        size: 1.5625rem;
      }
        text-align: end;
        padding-top: 6.25rem;
      }
   }
   .alturaC{
     margin-top: 120px;
   }
   
   .tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
   @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
   
   .nuestraHistoria {
     margin-bottom: 5rem;
     text-align: center;
     font: {
      size: 3.125rem;
      family: $font-secundaria

     }
   }

   /*Seccion galeria*/

.nuestraCasa {
    text-align: center;
    background-color: #e4ca98;
    color: #130e05;
    font-family: $font-secundaria;
    margin-top: 70px;
  }
.grid-item img {
    height: 80%;
    width: 70%;
    border-radius: 20%;
  }

  /*galeria*/
.galeria {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  font-family: $font-secundaria;
  text-align: center;
  color: #e0b67d;
}

  /*Seccion ubicacion*/
.boxUbicacion{
    text-align: center;
    margin-top: 70px;
  }
.ubicacion {
  font: {
    family: $font-secundaria;
    size: 2.5rem;
  }
    text-align: center;
    background-color: #e4ca98;
    grid-area: ubicacion
  }
.mapa{
    padding: 50px;
  }
.footerUbi{
    text-align: center;
    background-color: #ece6db;
  }

  /*Seccion contacto*/
.bigicon {
    font-size: 35px;
    color: #e4ca98;
  }
.btn{
    background-color: #e0b67d;
  }
.btn:hover {
    background-color: #9ad887;
  }
.text-center {
    padding-top: 30px;
  }
.form-group {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formAlt{
    margin-top: 100px;
  }
  
  /* orden de las paginas html y responsive*/

/*nosotros*/ 
.gridNosotros {
  display: grid;
  grid-template-columns:40% 50% 50%;
}

/*recibe*/ 
.fond {
  text-align: center;
  background: {
    image: url(../img/pileta.jpg);
    position: center;
    size: cover;
    attachment: fixed;
  }
  position: center;
  width: 100%;
  height: 100vh;
  h1{
    color: #050402;
        font: {
          size: 4.375rem;
          family: $font-principal
        }
    padding-top: 150px;
  }
  h2{
    color: #050402;
        font: {
          size: 2.375rem;
          family: $font-principal
        }
    padding-top: 50px;
    padding-bottom: 50px;
  
  }
  .volver{
    text-align: center;
    @include button();
    a {
        text-decoration: none;
        color: black;
        font-family: $font-principal
      }
      &:hover {
        background-color: #b6a714;
      }

  }

}

/*INDEX MEDIA*/
@media only screen and (max-width: 600px) {
  #header .logo{
    height: 30px;
  }
  #header .header__margin{
    margin-left: 0px;
  }
  #header {
    position: relative;
    background-color: #e4ca98;
  }
  .grid{
    height: 120vh;
  }
  .fondo{
    margin-left: 8px;
    margin-right: 8px;
    top: 22%;
  }
  .fondo .caja{
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer{
    top: 50%;
  }

  .fondo h1{
    font-size: 3.0rem;
  }
  .box2{
    height: 130vh;
  }
  /*GALERIA*/
  .galeria {
    display: flex;
    flex-direction: column;
  }
  .nuestraCasa{
    margin-top: 20px;
  }
  /*NOSOTROS*/
  .nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .imgnosotros img{
    height: 400px;
    width: 300px;
  }
  .nuestraHistoria{
    margin-bottom: 20px;
  }
  .pnosotros {
    margin: 0px;
  }
  .pnosotros p{
    padding: 20px;
  }
  .pnosotros h4{
    text-align: center;
    padding: {
      top: 20px;
      bottom: 50px;
    }
  }
  .alturaC{
    margin-top: 10px;
  }
  /*UBICACION*/
  .ubicacion h2{
    font-size: 50px;
  }
  .mapa{
    display: flex;
    justify-content: center;
  }
  .nuestraCasa h1 {
    font-size: 25px;
  }
  .fondoContacto{
    height: 120vh;
  }
  .boxUbicacion{
    margin-top: 10px;
  }
  /*CONTACTO*/
  .formAlt{
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1295px) {
  .nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


  
  
  
  
  
