@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dongle:wght@700&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dongle:wght@700&family=Pacifico&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import 'header';
@import 'footer';
@import 'fondos';
@import 'font';




* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*centro index - EXTEND*/ 
.caja2{
  width: 100%;
  height: 120vh;
  background-image: url(../img/pile.jpg);
  background-position: center;
  position: center;
  background-size: cover;
  background-attachment: fixed;
}
.nuevo{
  background-color: #ece6db;
  .casa{
    text-align: center;
    background-color: #e4ca98;
    color: #130e05;
    font-family: $font-deco;
  }
  .casa2{
    font-family: $font-text
  }
}

.fondoI {
  @extend .fondo__full;
    background: {
      image: url(../img/atardecer.jpg);
      position: center;
      size: cover;
      attachment: fixed;
    }
    position: center;
    width: 100%;
    height: 120vh;
    
  }
  .fondo {
    position: relative;
    top: 15%;
    text-align: center;
    padding: {
      top: 6.25rem;
      bottom: 6.25rem;
    }
    border-radius: 2.1875rem;
    overflow: hidden;
    .div {
        text-align: center;
        margin: {
          left: 30%;
          right: 30%;
        }
      }
    h1 {
        color: #e8cb95;
        font: {
          size: 4.375rem;
          family: $font-principal
        }
      }
    
  }
  .scale-up-hor-center {animation:scale-up-hor-center .4s cubic-bezier(.39,.575,.565,1.000) both}
  
  @keyframes scale-up-hor-center{0%{transform:scaleX(.4)}100%{transform:scaleX(1)}}
  

  .caja {
    position: relative;
    top: 30%;
  }
  
  .button {
    @include button();
    a {
        text-decoration: none;
        color: black;
        font-family: $font-principal
      }
      &:hover {
        background-color: #b6a714;
      }
  }

    /*Seccion index-galeria*/

.nuestraCasa {
  text-align: center;
  background-color: #e4ca98;
  color: #130e05;
  font-family: $font-deco;
  margin-top: 70px;
}
.grid-item img {
  height: 50vh;
  width: 70%;
  border-radius: 20%;
}

/*galeria*/
.galeria {
display: grid;
grid-template-columns: 33% 33% 33%;
gap: 10px;
font-family: $font-deco;
text-align: center;
color: #000000;
}

  /*Seccion nosotros*/
    
   .pnosotros {
     margin: 3rem;
     .tituloSec{
      font: {
        size: 3.5rem;
        family: $font-deco;
      }
      text-align: center;
      padding-bottom: 3rem;
     }
     .text{
      font: {
        size: 1.1rem;
        family: $font-text;
      }
      text-align: center;
     }
     .items{
      font: {
        size: 1.1rem;
        family: $font-text;
      }
      text-align: center;
     }
     .tituloTer{
      font: {
        size: 1.8rem;
        family: $font-deco;
      }
      text-align: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
     }
    .deseos {
      font: {
        size: 1.5625rem;
        family: $font-deco;
      }
        text-align: center;
        padding-top: 3.25rem;
      }
    .time{
      font: {
        size: 1.2rem;
        family: $font-principal;
      }
      text-align: center;
    }
    .elba{
      font: {
        size: 2.50rem;
        family: $font-cursiva;
      }
      text-align: end;
      padding-top: 3.25rem;
    }

   }
   
   .tracking-in-expand{-webkit-animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
   @-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
   
   .nuestraHistoria {
     margin-bottom: 1.5rem;
     text-align: center;
     font: {
      size: 5.2rem;
      family: $font-secundaria

     }
   }

  /*Seccion info*/
.sierra{
  font: {
    size: 3rem;
    family: $font-deco;
  }
  text-align: center;
}
.info{
  font-size: 1rem;
  font-family: $font-text;
  text-align: center;
}
.card{
  background-color: #ece6db;
  border: 0;
  align-items: center;
  .imagenCard{
    width: 50%;
    height: 50vh;
    }
}
.lugar{
  font-size: 2.5rem;
  font-family: $font-principal;
}
  /*Seccion ubicacion*/
.boxUbicacion{
    text-align: center;
  }
.ubicacion {
  h2{
    font: {
    family: $font-deco;
    size: 3.5rem;
  }
    text-align: center;
    background-color: #ece6db;
    grid-area: ubicacion

  }
  
  }
.mapa{
    padding: 50px;
  }
.footerUbi{
    text-align: center;
    background-color: #ece6db;
  }

  /*Seccion contacto*/
.bigicon {
    font-size: 35px;
    color: #e4ca98;
  }
.btn{
    background-color: #e0b67d;
  }
.btn:hover {
    background-color: #9ad887;
  }
.text-center {
    padding-top: 30px;
  }
.form-group {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formAlt{
    margin-top: 1.875rem;
  }
  .title{
    font-family: $font-deco;
    font-size: 3rem;
    color: black;
  }


/*recibe*/ 
.fond {
  text-align: center;
  background: {
    image: url(../img/pileta.jpg);
    position: center;
    size: cover;
    attachment: fixed;
  }
  position: center;
  width: 100%;
  height: 100vh;
  h1{
    color: #050402;
        font: {
          size: 4.375rem;
          family: $font-deco
        }
    padding-top: 150px;
  }
  h2{
    color: #050402;
        font: {
          size: 2.375rem;
          family: $font-deco
        }
    padding-top: 50px;
    padding-bottom: 50px;
  
  }
  .volver{
    text-align: center;
    @include button();
    a {
        text-decoration: none;
        color: black;
        font-family: $font-deco
      }
      &:hover {
        background-color: #b6a714;
      }

  }

}

/*INDEX MEDIA*/
@media only screen and (max-width: 600px) {
  #header .logo{
    height: 30px;
  }
  #header .header__margin{
    margin-left: 0px;
  }
  #header {
    position: relative;
    background-color: #e4ca98;
  }
  .grid{
    height: 120vh;
  }
  .fondo{
    margin-left: 8px;
    margin-right: 8px;
    top: 22%;
  }
  .fondo .caja{
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer{
    top: 50%;
  }

  .fondo h1{
    font-size: 3.0rem;
  }
  .box2{
    height: 130vh;
  }
  .galeria {
    display: flex;
    flex-direction: column;
  }
  .nuestraCasa{
    margin-top: 20px;
  }
  /*NOSOTROS*/
  .nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .tituloSec{
      font-size: 2.5rem;
      padding-bottom: 0.1rem;
    }
  }
  .imgnosotros img{
    height: 400px;
    width: 300px;
  }
  .nuestraHistoria{
    margin-bottom: 20px;
  }
  .pnosotros {
    margin: 0px;
  }
  .pnosotros p{
    padding: 20px;
  }
  .pnosotros h4{
    text-align: center;
    padding: {
      top: 20px;
      bottom: 50px;
    }
  }
  /*INFO*/
  .infoP{
    .lugar{
      font-size: 1.5rem;
      text-align: center;
    }
    .sierra{
      font-size: 2.5rem;
    }
    .info{
      font-size: 0.8rem;

    }
  }
  .card{
    .imagenCard{
      width: 100%;
      height: 30vh;
    }
  }
  
  /*UBICACION*/
  .ubicacion h2{
    font-size: 50px;
  }
  .mapa{
    display: flex;
    justify-content: center;
  }
  .nuestraCasa h1 {
    font-size: 25px;
  }
  .fondoContacto{
    height: 120vh;
  }
  .boxUbicacion{
    margin-top: 10px;
  }
  /*CONTACTO*/
  .formAlt{
    margin-top: 10px;
  }
  .contacto{
    .title{
      font-size: 2rem;
    }
  }
  /*RECIBE*/
  .fond{
    .consulta{
      font-size: 2rem;
    }
  }
}
@media only screen and (max-width: 1295px) {
  .nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


  
  
  
  
  
